[project]
name = "koroutine-lib"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "mkdocs",
    "mkdocs-material",
    "pymdown-extensions",
]
